<h3 class="about-h3">About</h3>

<p class="about-p">
  My name is Alex and I'm 21 years old I graduated high school in 2012 and tried
	one year of college, I didnt enjoy traditional schooling. I'm starting web
	development. I have always been into tech. I started off
	rooting phones and editing roms. And now I'm currently at DevPointLabs learning
	Ruby on Rails which is a whole new language for me.
</p>

<h3 class="about-h3">Things I enjoy doing</h3>
<li class="about-li">Drumming</li>
<li class="about-li">Video games</li>
<li class="about-li">Rooting android devices</li>
<li class="about-li">Web development</li>

<h3 class="about-h3">More about me</h3>

<p class="about-p">
  I'm a drummer and my drumming carrer has taken me to march with
	Riverside City College also known to be "Hollywood's Band". In the year 2012 I did
	a music video with Travis Barker and Yellow Wolf and a commercial for the game
	Just Dance 4. That gave me the chance to participate in the Pasadena Rose parade
	of 2013. The following new years I traveled with the band to London and Madrid to
	march in the London New Years parade and Madrids Cabalgata de Reyes parade.
</p>

<h3 class="about-h3">If you would like to contact me please email me.</h3>
<div class="list">
  <ul class="list-unstyled about-list">
    <li class="contact-li">
      <%= mail_to 'alex.burton1993@gmail.com' do %>
        <i class ="fa fa-envelope">&nbsp; alex.burton1993@gmail.com</i>
      <% end %>
    </li>
    <li class="contact-li">
      <%= link_to 'https://github.com/alexand3rsc0tt' do %>
        <i class ="fa fa-github-alt">&nbsp; github.com/alexand3rsc0tt</i>
      <% end %>
    </li>
    <li class="contact-li">
      <%= link_to 'https://linkedin.com/in/alexand3rsc0tt' do %>
        <i class ="fa fa-linkedin-square">&nbsp; linkedin.com/in/alexand3rsc0tt</i>
      <% end %>
    </li>
  </ul>
</div>
